[Unit]
Description=Automatic Invocation of Script(3 times)
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash /home/lk-pi/CSC1107_autostart3.sh

[Install]
WantedBy=default.target
